<div id="leagues" class="page-layout carded fullwidth inner-scroll">

  <div class="center">
    <div class="content-card" style="margin-top: 5px;">
      <div class="separator">
        <h2 style="margin-top: 0 !important;">Create League</h2>
      </div>
      <div>
        <div fxLayout="column">
          <form fxLayout="column" name="leagueForm" (submit)="save()" [formGroup]="leagueForm" novalidate>

            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="Name">
              <mat-error *ngIf="leagueForm.get('Name').hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Max Players</mat-label>
              <input matInput type="number" formControlName="maxParticipants">
              <mat-error *ngIf="leagueForm.get('maxParticipants').hasError('required')">
                Max players is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Rules</mat-label>
              <textarea matInput formControlName="rules"></textarea>
              <mat-error *ngIf="leagueForm.get('rules').hasError('required')">
                Rules is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Sport Name</mat-label>
              <mat-select>
                <mat-option *ngFor="let type of sports" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-raised-button color="accent" class="submit-button" [disabled]="leagueForm.invalid">
              Save
            </button>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>